@import './base.css';

:root {
    color-scheme: light dark;
    --bs-blue: #3f6ad8;
    --bs-pink: #ffdfe4;
    --bs-light-blue: #d8f1f9;
    --bs-indigo: #6610f2;
    --bs-body-color: #212529;
    --bs-body-bg: #ffffff;
    --bs-green: #47c782;
    --bs-green-dark: #1a8754;
    --bs-red: #d83d3d;
    --bs-orange: #fdae26fa;
    --bs-gray-light: #eaeaea;
    --bs-gray-medium: #9f9f9f;
    --bs-gray: #575757;

    --bs-link-color: var(--bs-blue);
    --vs-controls-color: var(--primary-text-color);
    --control-error-color: #DC3545;
    --toggle-button-color: #3f6ad8;

    --main-background-color: #ffffff;
    --second-background-color: #000000;
    --background-content-color: #f5f5f5;
    --background-text-color: #c4c4c4;
    --background-gray-color: #f8f8f8;
    --primary-text-color: #142343;
    --secondary-text-color: #cbcbcb;
    --background-ligth-blue: #6f9bf1;
    --background-ligth-gray: #f1f1f1;

    --btn-text-color: #5ff12d;
    --message-box-shadow-color: var(--bs-gray);
    --message-box-shadow-color-light: #919191;
    --tree-border-color: #3b5560;

    --search-table-hover-bg: rgba(246, 2, 2, 0.1);

    --person-avatar-size: 45px;

    --swiper-navigation-sides-offset: 5px;
    --swiper-navigation-color: var(--primary-text-color);
}

:root.dark {
    color-scheme: dark;
    --bs-body-color: #e5e5e5;
    --bs-body-bg: #000000;

    --main-background-color: #030e21;
    --second-background-color: #ffffff;
    --background-content-color: #14213d;
    --background-text-color: #0a1121;
    --background-gray-color: #14213d;
    --primary-text-color: #ffffff;
    --secondary-text-color: #223867;
    --background-ligth-blue: #bbd0ff;
    --background-ligth-gray: #314572;

    --btn-text-color: #fca311;
    --message-box-shadow-color: #e5e5e5;
    --message-box-shadow-color-light: #14213d;
    --tree-border-color: #35839b;
    --search-table-hover-bg: rgba(255, 255, 255, 0.05);
}

*:disabled {
    cursor: not-allowed;
}

input[type='checkbox'] {
    cursor: pointer;
}

label {
    cursor: pointer;
}

#app {
    font-size: 14px;
}

.bg-orange {
    --bs-bg-opacity: 1;
    background-color: var(--bs-orange);
}

.color-gray-light {
    color: var(--bs-gray-light);
}

.color-gray-medium {
    color: var(--bs-gray-medium);
}

.color-gray {
    color: var(--bs-gray);
}

.color-default {
    color: var(--bs-body-color);
}

.color-red {
    color: var(--bs-red);
}

.color-green {
    color: var(--bs-green);
}

.color-blue {
    color: var(--bs-blue);
}

.color-orange {
    color: var(--bs-orange);
}

.color-gray {
    color: var(--bs-gray);
}

.btn-transparent-blue {
    background: transparent;
    border: 1px solid var(--bs-blue);
    color: var(--bs-blue);
}

.btn-transparent-blue:hover {
    background: var(--bs-blue);
    color: var(--bs-white);
}

.btn-secondary {
    background: var(--background-gray-color);
    color: var(--bs-gray);
    border: 1px solid var(--bs-gray);
}

.btn-secondary :hover {
    background: var(--bs-gray);
    color: var(--bs-white);
}

.btn-primary, .btn-outline-primary:hover {
    background: var(--bs-blue);
}

.btn-outline-primary {
    border-color: var(--bs-blue);
    color: var(--bs-blue);
}

.btn-dark {
    background: var(--message-box-shadow-color);
}

.m-0-auto {
    margin: 0 auto;
}

/*main settings*/
.app-theme::after {
    background: url("/public/images/login/login_back.jpeg") no-repeat center/cover;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0.4;
}

.app-theme {
    position: relative;
}

.app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.email-verification {
    padding: 11.5px 0;
}

.bg-main-white {
    background-color: var(--main-background-color);
}

.white_card {
    background: var(--main-background-color);
    border: none;
    border-radius: 20px;
    word-wrap: break-word;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    align-items: stretch;
    padding: 0 20px 20px;
}

.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-control-plaintext ~ label, .form-floating > .form-select ~ label {
    color: var(--primary-text-color) !important;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating > .form-control:focus ~ label::after, .form-floating > .form-control:not(:placeholder-shown) ~ label::after, .form-floating > .form-control-plaintext ~ label::after, .form-floating > .form-select ~ label::after {
    background-color: var(--background-content-color) !important;
}

.no-border-left {
    border-radius: 0 20px 20px 0;
    border-left: 5px solid var(--background-content-color);
}

.no-border-bottom {
    border-radius: 20px 20px 0 0;
}

.no-border-top {
    border-radius: 0 0 20px 20px;
}

.no-border-right {
    border-radius: 20px 0 0 20px;
    border-right: 5px solid var(--background-content-color);
}

.no-border-bottom-left {
    border-radius: 0 20px 0 0;
    border-left: 5px solid var(--background-content-color);
    margin-bottom: 5px;
}

.no-border-bottom-right {
    border-radius: 20px 0 0 0;
    margin-bottom: 5px;
    border-right: 5px solid var(--background-content-color);
}

.no-border-top-right {
    border-radius: 0 0 0 20px;
    margin-top: 0;
    border-right: 5px solid var(--background-content-color);
}

.no-border-top-left {
    border-radius: 0 0 20px 0;
    border-left: 5px solid var(--background-content-color);
    margin-top: 0;
}

.no-border-radius {
    border-radius: 0;
}

.no-radius {
    border-radius: 0;
}

.btn {
    font-size: 14px;
}

.btn:hover {
    transition: 0.3s;
}

.vs__search, .vs__search:focus {
    font-size: 14px;
}

.main {
    background: var(--background-content-color);
    margin: 0;
}

.main-wrap {
    display: flex;
}

.content {
    flex: 1;
    width: 100%;
    background: var(--background-content-color);
}

/*layout of the site*/
.main-wrap {
    display: flex;
}

/* input */
.input_group {
    margin: 8px 0;
    font-size: 14px;
}

.form-label {
    margin-bottom: 0;
}

.form-control {
    font-size: 14px;
    color: var(--bs-body-color);
    background: var(--background-content-color);
}

.form-control:enabled {
    color: var(--bs-body-color);
    background: var(--background-content-color);
}


.form-control-error {
    border: 1px solid var(--control-error-color);
}

/*BUTTONS*/
.btn {
    min-width: 150px;
}

/* toggle */
.toggle-button-container {
    display: block;
}

.toggle-button {
    position: relative;
    height: 24px;
    width: 40px;
    min-width: 40px;

    background: var(--main-background-color);
    border: 2px solid var(--toggle-button-color);
    border-radius: 50px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 18px;
    height: 18px;
    background-color: var(--toggle-button-color);
    border-radius: 50%;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked::after {
    transform: translateX(calc(80%));
    background-color: var(--main-background-color);
}

.toggle-button:checked {
    background-color: var(--toggle-button-color);
}

.label {
    margin-left: 10px;
}

.form-floating > * {
    text-align: left;
}

/* SIDEBAR */
.sidebar_container {
    min-width: 210px;
    background: var(--background-content-color);
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    z-index: 100;
}

.sidebar {
    height: 100%;
    width: 300px;
    z-index: 900;
    padding: 10px;
    background: var(--main-background-color);
    box-shadow: 0 0 10px var(--message-box-shadow-color-light);
}


/* navbar */
.navbar .name_and_surname {
    padding: 0 0 0 10px;
    font-size: 14px;
}

.navbar .avatar {
    padding: 0 20px 0 0;
    color: rgb(224, 22, 72);
}

.navbar {
    background: var(--main-background-color);
    margin: 15px 15px 5px 15px;
    border-radius: 20px;
}

.navbar_avatar {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border-radius: 50%;
    object-fit: cover;
}

.notification_warp .icons_params {
    font-size: 20px;
    color: var(--message-box-shadow-color);
}

.car-main-image {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin: 12px 0;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.car-info .svg-inline--fa {
    margin-right: 4px;
}

/* messageCard */
.message-wrapper {
    position: absolute;
    z-index: 1000;
}

.message-card {
    background-color: rgba(13, 110, 253, 0.85);
    box-shadow: var(--message-box-shadow-color) 0 0 3px;
    position: fixed;
    color: var(--main-background-color);
    width: 440px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: bottom 0.3s ease;
    left: 50%;
    transform: translateX(-50%);
}

.show-message {
    bottom: 10px;
}

.hide-message {
    bottom: -100px;
}

.message-error {
    background-color: rgba(171, 0, 0, 0.85);
}

.message-text {
    vertical-align: middle;
}

.gray-text {
    color: var(--message-box-shadow-color);
}

.secondary-text {
    color: var(--secondary-text-color);
}

.small-gray-text {
    font-size: 12px;
    opacity: 0.65;
    color: var(--message-box-shadow-color);
}

/*APP LOADER*/
.app-spinner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
}

.app-spinner:focus {
    outline: none;
}

.app-spinner .app-spinner__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    animation: spinnerAnimation 0.6s infinite linear;
    background-image: url("/public/images/loader/spinner-icon.svg");
}

.app-spinner .app-spinner__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.app-spinner .app-spinner--fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/*navbarDropdownLanguage*/
.navbar .dropdown-toggle:not([class*="show"]) {
    background: var(--main-background-color);
    border: 1px solid #C7C8C9;
    color: var(--second-background-color);
}

.navbar .dropdown-menu {
    background: var(--main-background-color);
}

.navbar .dropdown-menu > li > a {
    color: var(--primary-text-color);
}

.navbar .dropdown-item:hover {
    background: var(--message-box-shadow-color);
    color: var(--main-background-color);
}

/*LOGO*/
form img {
    width: 70%;
    height: 50%;
}

/*BUTTONS*/
.btn {
    min-width: 150px;
}

.btn-small-width {
    min-width: 50px !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: center; /* Вирівнювання по горизонталі */
    align-items: center; /* Вирівнювання по вертикалі */
    gap: 5px; /* Проміжок між кнопками */
}

/* SIDEBAR */
.sidebar_container {
    min-width: 210px;
    background: var(--background-content-color);
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    z-index: 100;

}

/* avatar */
.avatar-container {
    max-width: 130px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white_card .avatar {
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.avatar-image {
    max-width: 150px;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.1s;
}

.avatar-image-mini {
    width: 45px;
}

.avatar-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8c8c8c94;
    opacity: 0;
    aspect-ratio: 1;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.avatar-overlay:hover {
    opacity: 1;
}

.avatar-modal {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.change-text {
    color: var(--main-background-color);
    font-size: 20px;
}

.title-text {
    font-weight: bolder;
    font-size: 20px;
    position: relative;
    z-index: 100;
    transform: translate(0%, -300%);
    height: 10px;
    margin-bottom: 0;
    text-align: center;
}

.title-text::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: 300%;
    background: var(--main-background-color);
    filter: blur(7px);
    z-index: -1;
}

/*ANIMATED THEME TOGGLE*/
.animated-theme-toggle {
    width: 60px;
    height: 30px;
    /*width: 200px;*/
    /*height: 100px;*/
}

.animated-theme-toggle #hide-checkbox {
    opacity: 0;
    height: 0;
    width: 0;
}

.animated-theme-toggle .animated-toggle {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #211042;
    border-radius: 50px;
    transition: 500ms;
    overflow: hidden;
}

.animated-theme-toggle .animated-toggle-button {
    position: absolute;
    display: inline-block;
    top: 7%;
    left: 3%;
    width: 43%;
    height: 86%;
    border-radius: 50%;
    background: #FAEAF1;
    overflow: hidden;
    box-shadow: 0 0 35px 4px rgba(255, 255, 255);
    transition: all 500ms ease-out;
}

.animated-theme-toggle .crater {
    position: absolute;
    display: inline-block;
    background: #FAEAF1;
    border-radius: 50%;
    transition: 500ms;
}

.animated-theme-toggle .crater-1 {
    background: #FFFFF9;
    width: 86%;
    height: 86%;
    left: 10%;
    bottom: 10%;
}

.animated-theme-toggle .crater-2 {
    width: 20%;
    height: 22%;
    top: -7%;
    left: 50%;
}

.animated-theme-toggle .crater-3 {
    width: 20%;
    height: 20%;
    top: 20%;
    right: -3%;
}

.animated-theme-toggle .crater-4 {
    width: 10%;
    height: 10%;
    top: 24%;
    left: 30%;
}

.animated-theme-toggle .crater-5 {
    width: 18%;
    height: 18%;
    top: 45%;
    left: 55%;
}

.animated-theme-toggle .crater-6 {
    width: 10%;
    height: 10%;
    top: 56%;
    left: 20%;
}

.animated-theme-toggle .crater-7 {
    width: 12%;
    height: 12%;
    bottom: 5%;
    left: 35%;
}

.animated-theme-toggle .star {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 1px 0 2px 2px rgba(255, 255, 255);
}

.animated-theme-toggle .star-1 {
    width: 3%;
    height: 6%;
    right: 45%;
    bottom: 40%;
}

.animated-theme-toggle .star-2 {
    width: 4%;
    height: 8%;
    right: 35%;
    top: 10%;
}

.animated-theme-toggle .star-3 {
    width: 2.5%;
    height: 5%;
    right: 30%;
    bottom: 15%;
}

.animated-theme-toggle .star-4 {
    width: 1.5%;
    height: 3%;
    right: 20%;
    bottom: 50%;
}

.animated-theme-toggle .star-5 {
    width: 2%;
    height: 4%;
    right: 5%;
    bottom: 35%;
}

.animated-theme-toggle .star-6, .star-7, .star-8 {
    width: 5%;
    height: 2%;
    border-radius: 2px;
    transform: rotate(-45deg);
    box-shadow: 5px 0px 4px 1px #FFF;
    animation-name: travel;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.animated-theme-toggle .star-6 {
    right: 15%;
    bottom: 30%;
    animation-delay: -2s;
}

.animated-theme-toggle .star-7 {
    right: 25%;
    bottom: 60%;
}

.animated-theme-toggle .star-8 {
    right: 45%;
    top: 10%;
    animation-delay: -4s;
}

@keyframes travel {
    0% {
        transform: rotate(-45deg) translateX(70px);
    }

    50% {
        transform: rotate(-45deg) translateX(-20px);
        box-shadow: 5px 0px 6px 1px #FFF;
    }

    100% {
        transform: rotate(-45deg) translateX(-30px);
        width: 2px;
        height: 2px;
        opacity: 0;
        box-shadow: none;
    }
}

.animated-theme-toggle #hide-checkbox:checked + .animated-toggle {
    background: var(--toggle-button-color);
}

.animated-theme-toggle #hide-checkbox:checked + .animated-toggle .animated-toggle-button {
    background: #F7FFFF;
    transform: translateX(117%);
    box-shadow: 0 0 35px 5px rgba(255, 255, 255);
    z-index: 10;
}

.animated-theme-toggle #hide-checkbox:checked + .animated-toggle .animated-toggle-button .crater {
    transform: rotate(-45deg) translateX(70px);
}

.animated-theme-toggle #hide-checkbox:checked + .animated-toggle .star {
    animation: move 4s infinite ease-in; /* 2s */
    transform: none;
    box-shadow: none;
}

.animated-theme-toggle #hide-checkbox:checked + .animated-toggle .star-1 {
    width: 20%;
    height: 10%;
    border-radius: 10px;
    background: #FFF;
    left: 10%;
    top: 25%;
    box-shadow: none;
}

.animated-theme-toggle #hide-checkbox:checked + .animated-toggle .star-2 {
    width: 6%;
    height: 12%;
    background: #FFF;
    left: 13%;
    top: 23%;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

.animated-theme-toggle #hide-checkbox:checked + .animated-toggle .star-3 {
    width: 8%;
    height: 16%;
    background: #FFF;
    left: 17.5%;
    top: 19%;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

.animated-theme-toggle #hide-checkbox:checked + .animated-toggle .star-4 {
    width: 7%;
    height: 14%;
    background: #FFF;
    left: 23%;
    top: 21%;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

.animated-theme-toggle #hide-checkbox:checked + .animated-toggle .star-5 {
    width: 30%;
    height: 15%;
    border-radius: 15px;
    background: #FFF;
    left: 15%;
    bottom: 20%;
    box-shadow: none;
}

.animated-theme-toggle #hide-checkbox:checked + .animated-toggle .star-6 {
    width: 9%;
    height: 18%;
    background: #FFF;
    border-radius: 50%;
    left: 19%;
    bottom: 20%;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

.animated-theme-toggle #hide-checkbox:checked + .animated-toggle .star-7 {
    width: 12%;
    height: 24%;
    background: #FFF;
    border-radius: 50%;
    left: 26%;
    bottom: 20%;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

.animated-theme-toggle #hide-checkbox:checked + .animated-toggle .star-8 {
    width: 10.5%;
    height: 21%;
    background: #FFF;
    border-radius: 50%;
    left: 35%;
    top: 59%;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

/*selectField*/
.input_group .form-control .vs__actions {
    padding-right: 2.5px;
    padding-top: 5px;
    color: var(--main-background-color);
}

.vs__actions {
    display: block;
}

.input_group .form-control .vs__clear {
    padding-bottom: 4px;
    color: var(--primary-text-color);
}

.input_group .form-control .vs__clear > * {
    color: var(--primary-text-color);
}

.input_group .form-control .vs__dropdown-toggle,
.input_group .form-control .vs__dropdown-menu,
.input_group .form-control .vs__selected-options,
.input_group .form-control .vs__search,
.input_group .form-control .vs__selected {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    border: none;
    color: var(--bs-body-color);
    background: transparent;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input_group .form-control.vs--open .vs__dropdown-toggle,
.input_group .form-control.vs--open .vs__dropdown-menu,
.input_group .form-control.vs--open .vs__selected-options,
.input_group .form-control.vs--open .vs__search,
.input_group .form-control.vs--open .vs__selected {
    background: var(--background-content-color);
}

.input_group .form-control .vs__dropdown-toggle {
    margin-top: -4px;
}

.input_group .form-control .vs__dropdown-option {
    margin-left: -8px;
}

/*CAROUSEL*/
.carousel-image {
    width: 750px; /* Розтягуємо зображення на всю ширину контейнера */
    height: 480px; /* Висота зображення буде рівною висоті контейнера */
    object-fit: cover; /* Обрізаємо зображення, щоб воно заповнювало контейнер */
    border-radius: 8px;
}

/*-------MEDIA-------*/

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
}

@media (max-width: 1100px) {
}

@media (max-width: 1330px) {
    .car-main-image {
        width: 100%;
        height: 130px;
        object-fit: cover;
        border-radius: 10px;
        align-items: center;
        text-align: center;
    }

    .carousel-image {
        width: 550px;
        height: 270px;
    }
}

@media (max-width: 1170px) {
    .carousel-image {
        width: 400px;
        height: 200px;
    }
}

@media (max-width: 991px) {
    /*layout of the site*/
    .main-wrap {
        display: block;
    }

    .sidebar {
        width: 100%;
    }

    .carousel-image {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 991px) {
    .no-border-left,
    .no-border-right,
    .no-border-radius {
        border-radius: 20px;
        border: none;
    }

    .no-border-bottom-right, .no-border-bottom-left, .no-border-top-right, .no-border-top-left {
        border-radius: 20px;
        border: none;
        margin: 0;
    }
}

@media (max-width: 901px) {

}

@media (max-width: 575px) {

}

@media (max-width: 400px) {

}

@media (min-width: 768px) and (max-width: 1200px) {

}